<div class="dashboard-container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-10 text-center dashboard-content text-white p-5 rounded-5">
      <h1>Gençliği Yönlendirme Platformuna Hoşgeldiniz!</h1>
      <p class="lead mx-auto" style="max-width: 60ch;">
        Bu platformda gençlerin kariyerlerine yön vermesine yardımcı olacak
        birçok içerik bulabilirsiniz. Kariyer testimizi çözerek hangi mesleğe
        uygun olduğunuzu öğrenebilir, meslekler hakkında bilgi alabilir, kariyer
        planlamanızı yapabilirsiniz.
      </p>
      <div class="btn btn-primary btn-lg" routerLink="/wizard">
        Kariyer Testi
      </div>
    </div>
  </div>
</div>
