<div class="main-container min-vh-100 bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark gradient-bg">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#">
        <i class="bi bi-robot me-2"></i>TechVision
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#features">Özellikler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
