<div class="main-container min-vh-100 bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark gradient-bg">
    <div class="container">
      <a class="navbar-brand fw-bold" [routerLink]="getRouterLink()">
        <i class="bi bi-robot me-2"></i>Genç Asistan
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">Yazılar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/forum">Forum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container py-5">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="position-fixed bottom-0 end-0">
  <div class="img-fluid">
    <img
      src="fiko_baba.png"
      alt="Fiko Baba"
      style="width: 300px; height: auto"
    />
  </div>
</div>
